:root{
    --white: #FFFFFF;
    --black: #212529;
    --color-box-card: #f8f9fa;
    --border-solid: #e9ecef;
    --box-box: #dee2e6;
    --md-border-card: 3px;
    --font-weight-title: 900;
    --font-size-title: 42px;
    --font-line-height-title: 48px;
    --background-btn-primary: #c0fdfb;
}