@import "vars";
.box-sign-up{
    width: 25rem;
    background-color: var(--color-box-card);
    border-radius: 5px;
    border: 2px var(--border-solid);
    box-shadow: 3px 3px 3px var(--box-box);
    padding: 10px;
}

.box-sign-up{
    margin: auto;
}

.box-sign-up:hover{
    box-shadow: 5px 5px 5px var(--box-box);
}

.header-sign-up{
    display: flex;
    place-content: center;
}

.header-sign-up h3{
    font-size: var(--font-size-title);
    font-style: normal;
    font-weight: var(--font-weight-title);
    line-height: var(--font-line-height-title);
}

.flex-sign-up{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 29px;
    justify-content: center;
}

.item-sign-up{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btn-sign-up{
    width: 7rem;
    background-color: var(--background-btn-primary);
    border-radius: 5px;
    border: none;
    padding: 7px;
}

.btn-sign-up{
    font-style: normal;
    font-weight: 900;
}

.btn-sign-up{
    margin: auto;
}